body{
    background-color: rgba(188, 166, 166, 0.559);
    font-size:25px;
}
.head{
    text-align: center;
}
.div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  50px;
    gap: 30px;  
}
